@import "tailwindcss";
@import "@nuxt/ui";
.flying-image {
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.6s ease-in-out;
    width: 40px;
    position: fixed;
    z-index: 1000;
}
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.no-spinner {
    -moz-appearance: textfield; /* Firefox */
}
:root {
    --color-primary: #012a4a; /* tương ứng bg-orange-500 */
    --color-orange: #d97706; 
}
.root-bg {
    background-color: var(--color-primary);
}
.root-text {
    color: var(--color-primary);
}
.root-border {
    border: 1px solid var(--color-primary);
}
/* Cho phép vùng gõ nội dung có thanh cuộn */
.ck-editor__editable {
  min-height: 280px;        /* chiều cao tối thiểu */
  max-height: 60vh;         /* giới hạn theo màn hình */
  overflow-y: auto !important;  /* bật scroll dọc */
}

/* Nếu đang ở trong modal hoặc khung hạn chế chiều cao */
.modal-body, .drawer-body, .form-section {
  overflow: visible;         /* hoặc auto nếu bạn muốn cuộn khung cha */
  max-height: none;
}
/*HP*/
.header-banner {
    padding: clamp(12px, 3vw, 24px) clamp(16px, 3.5vw, 200px);
    place-items: center;
    text-align: center;
}
.root-bg-orange{
    background-color: #d97706;
}
.root-text-orange {
    color: var(--color-orange);
}
.root-border-orange {
    border: 1px solid var(--color-orange);
}
.badge-preorder {
  display: inline-block;
  background: transparent;     /* nền trong suốt */
  color: #d97706;              /* chữ cùng màu với viền */
  font-weight: 600;
  padding: 0px 3px;            /* cho thoáng hơn chút */
  text-transform: uppercase;
  border: 1px solid #d97706;   /* viền */
  border-radius: 3px;          /* bo góc */
  width: auto;
  max-width: max-content;
}
.badge-preorder-product {
  display: inline-block;
  background: transparent;     /* nền trong suốt */
  color: #d97706;              /* chữ cùng màu với viền */
  font-weight: 600;
  padding: 0px 3px;            /* cho thoáng hơn chút */
  text-transform: uppercase;
  border: 1px solid #d97706;   /* viền */
  border-radius: 3px;          /* bo góc */
  width: auto;
  max-width: max-content;
  position: absolute;
  bottom: 1px;  /* tương đương bottom-2 trong tailwind */
  left: 1px;
}