@import "tailwindcss";
@import "@nuxt/ui";
.flying-image {
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.6s ease-in-out;
    width: 40px;
    position: fixed;
    z-index: 1000;
}
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.no-spinner {
    -moz-appearance: textfield; /* Firefox */
}
:root {
    --color-primary: #012a4a; /* tương ứng bg-orange-500 */
}
.root-bg {
    background-color: var(--color-primary);
}
.root-text {
    color: var(--color-primary);
}
.root-border {
    border: 1px solid var(--color-primary);
}